@model tugas1.Models.Product

@section content{
<div class="container">

    <form action="~/addcart" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(p => p.ProductId)
        @Html.HiddenFor(p => p.ProductPrice)
        <table>
            <tr>
                <td><h3>@Model.ProductName</h3></td>
            </tr>
            <tr>
                <td><h2>Price</h2></td>
                <td><h2>:</h2></td>
                <td><h2>@Model.ProductPrice</h2></td>
            </tr>
            <tr>
                <td><h4>Stock</h4></td>
                <td><h4>:</h4></td>
                <td><h4>@Model.ProductStock</h4></td>
            </tr>
            <tr>
                <td><h4>Quantity</h4></td>
                <td><h4>:</h4></td>
                <td><h4><input autocomplete="off" type="text" class="form-control" required pattern="[0-9]+" name="Qty" /></h4></td>
            </tr>
            <tr>
                <td><h4>Total Price</h4></td>
                <td>:</td>
                <td><input type="text" required readonly class="form-control" name="SubTotal" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button type="submit" class="btn btn-success" name="add">Add To Cart</button></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    let stock = document.querySelector("input[name=Qty]");
    let SubTotal = document.querySelector("input[name=SubTotal]");
    let ProductPrice = document.querySelector("input[name=ProductPrice]")

    stock.addEventListener("keyup", function (e) {
        if (/^[0-9]+$/.test(e.target.value) == false) {
            e.target.value = "";
        }
        if (e.target.value == "") {
            e.target.value = "0";
            SubTotal.value = "0";
        }
        else {
            SubTotal.value = parseFloat(ProductPrice.value) * parseFloat(stock.value);
        }
    });

    stock.addEventListener("focus", function (e) { e.target.value = "" })

</script>
}